/* Fonts */
@font-face {
  font-family: "PT Sans";
  src:
    url("/../fonts/PTSans.woff2") format("woff2"),
    url("/../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("/../fonts/PTSans-Bold.woff2") format("woff2"),
    url("/../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-white:#FFFFFF;
  --basic-grey: #EEEEEE;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-dark: #000000;

  --speсial-blue-middle:#669EC0;
  --special-blue-strong: #5496BD;
  --special-grey-icon: #CACACA;

  --special-brown-middle: #604E43;
  --special-brown-strong: #503E33;

  --special-grey-form:#F2F2F2;
  --special-grey-hover:#EBEBEB;
  --special-grey-check: #6A6A6A;
  --special-grey-focus: #E5E5E5;
  --special-grey-rating:#666666;

  --point-back: #ABABAB;
  --icon-base: #A9A9A9;
 }

 /* Global */
 .page-body {
  min-width: 768px;
  margin: 0;
  padding: 0;
  font-family:"PT Sans", sans-serif, Arial;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  height: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid */

.page {
  height: 100%;
}

.header {
  position: relative;
}

/* Центровщик */

.center {
  width: 1200px;
  margin: 0 auto;
}
.body-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%)
}

/*.navigation*/
.navigation__icon {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px; /*половина размера изображения*/
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  line-height: 26px;
  list-style: none;
  font-style: normal;
  margin: 0;
  padding-inline-start: 0;
}
.nav-item {
  width: 300px;
	height: 56px;
	padding-top: 14px;
	box-sizing: border-box;
}
.navigation__list li:nth-child(1) {
  text-align: left;
  padding-left: 73px;
}
.navigation__list li:nth-child(2) {
  text-align: left;
}
.navigation__list li:nth-child(3) {
  text-align: right;
}
.navigation__list li:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}
.navigation__breadcrumbs,
.footer__phone {
  text-decoration: none;
  color: var(--basic-dark);
}

/* User navigation */

.navigation__breadcrumbs:link {
  color: var(--basic-dark);
}
.navigation__breadcrumbs:visited {
  color: var(--basic-brown);
}
.navigation__breadcrumbs:focus,
.navigation__breadcrumbs:hover {
  color: var(--basic-blue);
}
.navigation__breadcrumbs:active {
  color: var(--special-grey-icon);
}

/*.main*/

/* section welcome*/

.welcome-container {
  background-image: url("../img/index/welcome-background.jpg");
  width: 1200px;
  height: 510px;
  background-position:  top center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: var(--basic-grey);
}
.welcome {
  display: grid;
  grid-template-rows: 510px 216px;
  position: relative;
}
.slogan::before {
  content: "";
  position: absolute;
  top: 453px;
  left: 0px;
  width: 1200px;
  height: 57px;
  background-image: url("../img/index/line.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.welcome__logo {
  margin-top: 77px;
  margin-bottom: 82px;
  justify-self: center;
}
.slogan {
  height: 216px;
  text-align: center;
  line-height: 26px;
  padding-top: 42px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.slogan__title {
  margin-top: 42px;
  margin-bottom: 45px;
}

/*.sections all benefits*/

.benefits {
  margin-top: 216px;
}

/* Grid */
.benefits__natura .benefits__main,
.benefits__tourism .benefits__main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  height: 256px;
  margin-bottom: 0px;
}
.benefits__descriptions {
  margin-top: 27px;
  margin-bottom: 0px;
}
.above {
  margin-top: 25px;
}
.benefits__text-natura {
  grid-template-columns: 400px 800px;
  grid-column: 1 / 2;
  padding: 47px 48px 54px;
}

.benefits__text-tourism {
  grid-template-columns: 800px 400px;
  grid-column: 2 / 3;
  padding: 50px 49px 51px;
}
.benefits__image-left {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.benefits__image-right {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.benefits__main {
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-blue);
}

.benefits__more-natura .benefits__list svg {
  margin-bottom: 12px;
}
.benefits__title {
  display: block;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  margin: 0px auto;
  width: 151px;
  box-sizing: border-box;
}
.item-natura {
  max-width: 290px;
  padding-top: 160px;
  padding-bottom: 82px;
  margin: 0 auto;
  position: relative;
}

.item-natura .house::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 109px;
  width: 72px;
  height: 75px;
  background-image: url(../img/icon/house-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.item-natura .food::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 110px;
  width: 70px;
  height: 75px;
  background-image: url(../img/icon/burger-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.item-natura .present::before {
  content: "";
  position: absolute;
  top: 52px;
  left: 112px;
  width: 64px;
  height: 77px;
  background-image: url(../img/icon/present-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-tourism {
  max-width: 258px;
  padding-top: 47px;
  padding-bottom: 54px;
  margin: 0 auto;
}

.benefits__number {
  display: block;
  margin-top: 24px;
}

/* Grid */
.benefits__list {
  display: grid;
  width: 1200px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr;
  list-style: none;
  text-align: center;
  font-style: normal;
}
.benefits__more-natura {
  height: 330px;
}
.benefits__more-tourism {
  height: 256px;
  background-color: var(--basic-grey);
}
/*sections modal*/
.popap {
  position: relative;
}
.modal {
  text-align: center;
  background-color: var(--basic-white);
  line-height: 24px;
}
.modal__title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 55px;
  margin-bottom: 33px;
}

/*Flex modal form*/

.modal__form-invisible {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  background-color: var(--basic-white);
  width: 568px;
  height: 395px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
  line-height: 26px;
  padding: 55px;
  box-sizing: border-box;
}
.icon-minus,
.developed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__form-content {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  text-align: left;
  height: 106px;
  justify-content: space-between;
  box-sizing: border-box;
}
.modal__form-item {
  width: 305px;
  height: 38px;
  padding: 0px 0px 0px 13px;
  border: none;
  background: var(--special-grey-form);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  outline: none;
}
.age {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0px;
}
.age__number,
.icon-minus,
.icon-plus {
  width: 38px;
  height: 38px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: none;
  background-color: var(--basic-grey);
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
}
.modal__form-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  box-sizing: border-box;
}
.calendar {
  border: none;
  background-color: var(--special-grey-form);
  justify-self: flex-end;
  height: 38px;
  cursor: pointer;
}
.modal__form-content label {
  display: block;
  width: 112px;
}
.children {
  font-weight: bold;
  margin-right: 27px;
}
.adults {
  font-weight: bold;
  margin-right: 41px;
}
.button {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: normal;
  line-height: 26px;
  vertical-align: middle;
  color: var(--basic-white);
  font-style: normal;
  border: none;
  outline: none;
  cursor: pointer;
}
.activate-modal  {
  width: 568px;
  height: 86px;
  font-weight: bold;
  background-color: var(--basic-brown);
  margin-top: 30px;
}
.post_button {
  width: 458px;
  height: 58px;
  font-weight: bold;
  background-color: var(--basic-blue);
  margin-top: 50px;
  border: none;
}

/* User data form */
.modal__form-item:link {
  background: var(--special-grey-form);
}
.modal__form-item:focus {
  background: var(--basic-white);
  border: 2px solid var(--special-grey-focus);
  box-sizing: border-box;
}
.modal__form-item:hover {
  background: var(--special-grey-hover);
}

/* User form */

.calendar:hover > svg *,
.icon-minus:hover > svg *,
.icon-plus:hover > svg *{
  fill: var(--basic-dark);
}
.calendar:active > svg *,
.icon-minus:active > svg *,
.icon-plus:active > svg * {
  fill: var(--basic-blue);
}

.post_button:link {
  background: var(--basic-blue);
}
.post_button:hover,
.post_button:active {
  background: var(--speсial-blue-middle);
}
.button:active span,
.reasults__info:active span {
  opacity:0.3;
}
/*end Flex modal form*/


/* User activate modal */

.activate-modal:link,
.results__button:link {
  background: var(--basic-brown);
}
.activate-modal:hover,
.results__button:hover {
  background: var(--special-brown-middle);
}
.activate-modal:active,
.results__button:active {
  background: var(--special-brown-strong);
}

.sedona-map {
  background-image: url(../img/index/map.jpg);
  height: 594px;
}

 /*section footer*/

.footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.footer-superimposition {
  margin-top: -120px;
  position: absolute;
  z-index: 2;
}

 /*Grid */

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.9);
  height: 120px;
  margin: 0px;
}
.container_footer-develop {
  display: flex;
  justify-content: center;
  padding-top: 43px;
}
.container_footer-develop span {
  margin-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.zero {
  padding: 0;
  margin: 0 auto;
}

/*footer flex*/
.footer__contacts {
  margin-left: 76px;
}
.footer__social {
  margin-top: 36px;
}
/*social icon*/
.footer__button:hover,
.footer__button:active {
  background: var(--speсial-blue-middle);
}
.footer__button:active path {
  opacity: 0.3;
}
.footer__social-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  list-style: none;
  margin: 0px;
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--basic-blue);
  width: 48px;
  height: 46px;
  margin-left: 4px;
}
.footer__developed {
  padding-right: 69px;
  margin-top: 3px;
  font-size: 14px;
  font-weight: normal;
}
.footer__developed-button {
  margin-top: -5px;
}
/* Логотип академии*/
.footer__developed-button:hover> svg *{
  fill: var(--basic-blue);
}
.footer__developed-button:active> svg *{
  fill: var(--special-grey-focus);
}

/*Catalog*/

/*main-catalog*/

.selection {
  font-style: normal;
  margin: 0 auto;
  color: var(--basic-white);
}

/* Grid catalog selections*/

.selection__form {
  display: grid;
  height: 217px;
  grid-template-columns: 255px 255px 1fr;
  grid-template-rows: 1fr;
  background-color: var(--basic-brown);
  background-image: url("../img/catalog/checklist-background.jpg");
  background-repeat: no-repeat;
  padding-left: 70px;
  padding-top: 26px;
  padding-right: 66px;
  box-sizing: border-box;
}

/*.fieldset-infrastructure
.fieldset-housing */


.fieldset-slider-cost {
  justify-self: end;
}
.slider-cost {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 312px;
  height: 32px;
  border: 2px solid white;
  border-radius: 2px;
  align-items: center;
  margin-top: 11px;
  margin-left: 7px;
}

.slider-price:first-child label {
  margin-left: 15px;
}
.slider-cost::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 48%;
	width: 2px;
	height: 22px;
	background: var(--basic-white);
	transform: translate(-50%, -50%);
}

.slider-price input {
  width: 40px;
  background: none;
  border: none;
  color: var(--basic-white);
}
.fieldset {
  border: 0 none;
  padding: 0px;
}
.selection__legend {
  font-weight: bold;
  font-size: 16px;
  list-style: none;
  margin-bottom: 25px;
}

.checklist {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.checklist-selection li {
  margin-bottom: 25px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-checkbox {
  margin-left: 40px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-white);
  border-radius: 4px;
}
.filter-input-checkbox:disabled + label::before {
  border: 3px solid var(--special-grey-check);
} /* В макете он не отмечен */

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -36px;
  top: 1px;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon/check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  left: -34px;
  top: 0px;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon/disabled-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checklist a {
  text-decoration: none;
}
.tag {
  padding: 0;
  margin: 23px auto 9px;
}

.selection__button {
  font-size: 14px;
  line-height: 21px;
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  margin-top: 33px;
  margin-left: 85px;
}

.selection__button:hover {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}
.slider-range {
  position: relative;
  margin-top: 20px;
  }

.line {
  height: 2px;
  width: 316px;
  background-color: var(--basic-white);
  opacity: 0.3;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}
.point {
  position: absolute;
  top: -9px;
  height: 4px;
  width: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background: var(--point-back);
  cursor: pointer;
}
.point-max {
  left: 78%;
}
.point-min {
  left: 0;
}
.point:hover {
  height: 5px;
  width: 5px;
	border: 10px solid var(--basic-white);
}
.slider-price label {
  cursor: pointer;
}

/* section catalog sorting*/
.sorting {
  display: flex;
  border-bottom: 1px solid var(--special-grey-focus);
  padding: 29px 73px 30px 72px;
  box-sizing: border-box;
  font-style: normal;
  margin-top: 0;
}
.sorting__sum {
  width: 165px;
}
.sorting__arrow {
  justify-content: flex-end;
}
.sorting__arrow-checklist {
  display: flex;
  width: 110px;
  justify-content: flex-end;
  margin-top: 5px;
}
.sorting__range {
  display: flex;
  align-items: center;
  width: 781px;
  font-size: 12px;
  line-height: 18px;
}
.sorting__range span {
  margin-right: 40px;
}
.sorting__range-list {
  display: flex;
  flex-grow: 1;
  text-align: right;
}
.sorting__arrow-checklist li {
  margin-left: 12px;
}
.sorting__range-list li {
  margin-right: 32px;

}
/*sorting__title*/
.title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hotels-items h3 a {
	color: var(--basic-dark);
}

.hotels-items h3 a:hover{
	color: var(--basic-blue);
}
.hotels-items h3 a:active {
	color: var(--icon-base);
}
.sorting__particle {
  color: var(--special-grey-icon);
  border-bottom: 1px dotted var(--basic-blue);
  list-style: none;
}
/* User sorting__range */

.sorting__particle:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}
.sorting__particle:active {
  color: var(--basic-dark);
  border-bottom: none;
 }
.active {
  list-style: none;
  color: var(--basic-blue);
}
 /*User sorting__arow*/


.arrow:link > svg * {
  fill: var(--special-grey-icon);
}
.arrow:visited > svg * {
  fill: var(--basic-blue);
}
.arrow-unactive:hover > svg *,
.arrow:hover > svg * {
  fill: var(--basic-dark);
}
.arrow-unactive:active > svg *,
.arrow:active > svg * {
  fill: var(--basic-blue);
}
.arrow-unactive > svg * {
  fill: var(--special-grey-icon);
}

/*section results hotels*/

/*.results
.results__list
*/
.results__button {
  display: inline-block;
  width: 142px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  border: 0px;
  background-color: var(--basic-brown);
  margin-top: 9px;
  vertical-align: 0px;
}
.reasults__info {
  list-style: none;
  display: inline-block;
  height: 27px;
  line-height: 27px;
  width: 110px;
  text-align: center;
  box-sizing: border-box;
  margin-top: 9px;
  color: var(--basic-white);
  font-weight: bold;
  background-color: var(--basic-blue);
}
.results__rating {
  background-color: var(--special-grey-form);
  width: 110px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: var(--special-grey-rating);
  margin-bottom: 5px;
}

/*stars*/

.rating {
  position: relative;
}
.four-stars::before,
.three-stars::before,
.two-stars::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  height: 17px;
  background-image: url("../img/icon/star-icon.svg");
  background-repeat:space;
}
.four-stars::before {
  width: 90px;
}
.three-stars::before {
  width: 66px;
}
.two-stars::before {
  width: 42px;
}


/* User results__button */

.reasults__info:link {
  background: var(--basic-blue);
}
.reasults__info:hover {
  background: var(--speсial-blue-middle);
}
.reasults__info:active {
  background: var(--special-blue-strong);
}
.hotels-list-items {
  display: flex;
  padding: 30px 71px 25px 73px;
  border-bottom: 1px solid var(--special-grey-focus);
}
.hotels-items {
  margin-left: 30px;
}
.hotels-items h3 {
  margin-top: -5px;
  margin-bottom: 7px;
}
.hotels-items p {
  margin: 0;
}
.hotel-cost {
  display: flex;
  width: 258px;
  justify-content: space-between;
}
.hotel-cost p {
  margin-bottom: 6px;
}
.rating {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0px;
  justify-content: space-between;
}

