/* Fonts */
@font-face {
  font-family: "PT Sans";
  src:
    url("project\fonts\PTSans.woff2") format("woff2"),
    url("project\fonts\PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("project\fonts\PTSans-Bold.woff2") format("woff2"),
    url("project\fonts\PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */
:root {
  --basic-white:#FFFFFF;
  --basic-grey: #EEEEEE;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-dark: #000000;

  --spetial-blue-middle:#669EC0;
  --special-blue-strong: #5496BD;
  --special-grey-icon: #CACACA;

  --special-brown-middle: #604E43;
  --special-brown-strong: #503E33;

  --special-grey-form:#F2F2F2;
  --spetial-grey-hover:#EBEBEB;
  --spetial-grey-check: #6A6A6A;
  --spetial-grey-focus: #E5E5E5;
 }

 /* Global */
body {
  min-width: 768px;
  margin: 0;
  padding: 0;
  font-family:"PT Sans", sans-serif, Arial;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}
/* Стилизовать по классу
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
*/
.site-navigation-list {
  font-weight: bold;
  line-height: 26px;
  list-style: none;
  font-style: normal;
}
.navigation {
  text-decoration: none;
  color: var(--basic-dark);
}

/* useles navigation */

.navigation:link {
  color: var(--basic-dark);
}
.n.navigation:visited {
  color: var(--basic-brown);
  }
.navigation:focus,
.navigation:hover {
  color: var(--basic-blue);
}
.navigation:active {
  color: var(--special-grey-icon);
}

/* main */
.welcome {
  background-image: url("../img/index/welcome-background.jpg");
  width: 1200px;
  height: 509px;
  background-position:  top center;
  background-repeat: no-repeat;
  background-color: var(--basic-blue);
  text-align: center;
}
.welcome-text {
  margin-top: 77px;
  margin-bottom: 82px;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  background-color: var(--basic-white);
}
.subtitle {
  text-align: center;
  line-height: 26px;
  background-color: var(--basic-white);
  font-style: normal;
}
.reasons-item-main {
  color: var(--basic-white);
  text-align: center;
  background-color: var(--basic-blue);
}
.benefits {
  font-size: 21px;
  background-color: var(--basic-white);
  font-style: normal;
}
.description {
  font-weight: bold;
  font-size: 21px;
}
.reasons-list {
  list-style: none;
  text-align: center;
  font-style: normal;
  background-color: var(--basic-white);
}
.hidden {
  display: none;
}
.interest-block {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  background-color: var(--basic-white);
}
.interest {
  font-weight: bold;
  font-size: 30px;
}
.button {
  width: 568px;
  height: 86px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  font-style: normal;
  background-color: var(--basic-brown);
}
.button-form {
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  font-style: normal;
  background-color: var(--basic-blue);

}
.main-footer {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white);
  font-style: normal;
}
.contacts-phone {
  text-decoration: none;
  color: var(--basic-dark);
}
.social-cont{
  list-style: none;
  text-align: center;
}
.social-button {
  background: var(--basic-blue);
  line-height: 20px;
  padding: 0px 0px;
}
.from {
  font-size: 14px;
}
.form-content {
  width: 346px;
  height: 38px;
  background: var(--special-grey-form);
  font-family:"PT Sans", sans-serif, Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 6px;
  padding-left: 13px;
}

/* useles form */
.form-content:link {
  background: var(--special-grey-form);
}
.form-content:focus {
  background: var(--spetial-grey-focus);
}
.form-content:hover {
  background: var(--special-grey-hover);
}

/* useles form button */
.button-form:link {
  background: var(--basic-blue);
}
.button-form:hover {
  background: var(--spetial-blue-middle);
}
.button-form:active {
  background: var(--spetial-blue-middle);
}
.search:active {
  opacity:0.3;
}

/* useles search hotel button */
.button:link {
  background: var(--basic-brown);
}
.button:hover {
  background: var(--special-brown-middle);
}
.button:active {
  background: var(--special-brown-strong);
}
.search:active {
  opacity:0.3;
}

/* useles social */
.social-button:link {
  background-color: var(--basic-blue);
}
.social-button:focus,
.social-button:hover {
  background-color: var(--spetial-blue-middle);
}
.social-button:active {
  background-color: var(--special-blue-strong);
}
/* useles button-logoacademy на следующем этапе*/
.form-invisible {
  width: 568px;
  height: 395px;
  background: var(--basic-white);
  font-weight: bold;
  line-height: 26px;
  box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
  padding-right: 55px;
  padding-top: 61px;
}
.form-text {
  list-style: none;
}


